@charset "UTF-8";

html {
 	background: rgb(244 246 246);
	 z-index: -2;
}
a {
      text-decoration: none;
}
img {
      max-width: 100%;
}
ul ol{
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
}
li {
      list-style: none;
}
.wrapper {
      max-width: 1160px;
      margin: 0 auto 100px;
      padding: 0 auto;
      /* text-align: center; */
}
*{
      box-sizing: inherit;
}

body{
	font-family: 'NotoSerifCJKjp', 'Kaisei Opti', serif;
	font-family: 'Potta One', cursive;
}


/**********************************
*ヘッダーゾーン
**********************************/
#nav{
width: 100%;
font-family: 'NotoSerifCJKjp';
}
#nav ul{
	width: 1060px;
	margin-left: auto;
}
#nav li{
	float: left;
}
#nav li a{
	width: 150px;
	height: 80px;
	display: inline-block;
	border: solid 1px #a8a8a8;
	padding: 20px 10px 0;
	color: #000;
	text-align: center;
	text-decoration: none;
}
#nav li a:only-of-type{
	border-right-style: none;
}
#nav li:first-of-type{
	background-color: #5fb1de;
}
#nav li:last-of-type{
	border-right: solid 1px #a8a8a8;
	background-color: #000;
}
#nav li:first-of-type :hover{
	background-color: #fff;
}
#nav li a:hover{
	background-color: #afd0e6;
}
#nav .contact_btn{
	color: #ffffff;
}
#nav .contact_btn:hover{
	color: #000;
}
.nav-item span{
      font-size: 0.625rem;
      display: block; 
      align-items: center; 
      text-align: center;
      font-weight: 600;
}
.clear{
	clear: both;
}
.menu-btn{
	display: none;
}

@media screen and (max-width: 768px) {
#nav {
	width: 100%;
}
#nav ul{
	display: none;
}


/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 2;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1F9BD3;
	color: #fff;
	border-radius: 5px;
	border: solid 2px #afd0e6;
	z-index: 9999;
    }
    
    /*----------------------------
    * メニュー本体
    *----------------------------*/
    #nav ul{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #555;
	z-index: 9998;
    }
    .nav-item{
	width: 100%;
	height: auto;
	padding: .5em 1em;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
    }
    #nav li a:only-of-type{
	    border: none;
	    color: #fff;
	    font-size: 1.25rem;
	    font-weight: 500;
    }
    #nav li:first-of-type :hover{
	    display: none;
    }
    #nav .contact_btn:hover{
	    display: none;
    }
    
    /*----------------------------
    * アニメーション部分
    *----------------------------*/
    
    /* アニメーション前のメニューの状態 */
    #nav ul{
		pointer-events: none;
		opacity: 0;
		transition: opacity .3s linear;
    }
    /* アニメーション後のメニューの状態 */
    #nav ul.is-active{
		pointer-events: auto;
		opacity: 1;
    }
}    



/**********************************
*VISUALゾーン
**********************************/
.visual{
	max-width: 100%;
	height: 60vh;
	display: flex;
	position: relative;
	margin-bottom: 100px;
	font-family: 'NotoSerifCJKjp';
	object-fit: cover;
}
.visual::after{
	position: absolute;
	width: 100%;
	height: 60vh;
	content: "";
	top: 0;
	right: 0;
	left: 0;
	background-color: black;
	margin: 0;
	opacity: 0.5;
	object-fit: cover;
}

.slider{
	width: 100%;
	height: 100%;
	visibility: hidden;
}
.slider > li:not(:first-child) {
	display: none;
  }
/* .slick-track{
	height: 60vh;
} */
.slider.slick-initialized {
      visibility: visible;
}

.visual_text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	max-width: 1130px;
	color: #5fb1de;
	font-size: 3.5rem;
	font-family: 'NotoSerifCJKjp';
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
	z-index: 9997;

}
.visual_text p{
	text-align: center;
}
.visual_text span{
	font-size: 2.625rem;
	color: #fff;
}
.visual_dis{
	font-size: 4.125rem;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.visual{
		width: 100%;
		height: auto;
		display: flex;
		position: relative;
		margin-bottom: 100px;
		font-family: 'NotoSerifCJKjp';
	}
	.visual::after{
		width: 100%;
		height: 50vh;
	}
	.slick-track{
		height: 50vh;
		
	}
	.visual_text{
		top: 50%;
		left: 50%;
		width: 100%;
		color: #5fb1de;
		font-size: 2rem;
		font-family: 'NotoSerifCJKjp';
		font-weight: bold;
		line-height: 1.5;
		text-align: center;
		z-index: 9997;
	
	}
	.visual_text p{
		text-align: center;
	}
	.visual_text span{
		font-size: 1.5rem;
		color: #fff;
	}
	.visual_dis{
		font-size: 2rem;
		color: #fff;
	}
}
/**********************************
*共通ゾーン
**********************************/
#main_inner{
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
	font-family: 'NotoSerifCJKjp'
}

@media screen and (max-width: 768px) {
	#main_inner{
		width: 100%;
	}
}

/**********************************
*PURPOSEゾーン
**********************************/
.purpose_title h2{
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	margin: 140px auto 0;
}
.purpose_title h2 span{
	color: #1F9BD3;
	font-size: 3rem;
}
.purpose_title p{
	font-size: 0.812rem;
	margin: 10px 46% 50px;
	padding-bottom: 40px;
	border-bottom: solid #5fb1de 2px;
	text-align: center;
}

.sankaku{
	position: absolute;
	width: 0;
	height: 0;
	border-top: 73px solid #5fb1de;
	border-right: 138px solid transparent;
	border-bottom: 174px solid transparent;
	border-left: 248px solid #5fb1de;
	top: -50px;
	left: -40px;
	opacity: .1;
	z-index: -1;
  }

.purpose_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
	margin: 0 auto;
	text-align: center;
	counter-reset: number 0;
}
.purpose_list li{
	position: relative;
	width: 23.26%;
	margin: 0 0 40px 20px;
}
.purpose_list li::before{
	position: absolute;
	counter-increment: number 1;
	content:counter(number,decimal-leading-zero);
	font-size: 4rem; 
	font-family: fantasy;
	color: #fff;
	opacity: .75;
	top: -3%;
	left: 3%;
}
.purpose_list img:hover{
	opacity: .5;
}
.purpose_list a{
	color: #000;
}
.purpose_list li h3{
	font-size: 1rem;
	margin-bottom: 10px;
}
.purpose_list li p{
	font-size: 0.875rem;
	margin-bottom: 10px;
}
.purpose_list i{
	color: #5fb1de;
}

@media screen and (max-width: 768px) {
	#purpose{
		width: 95%;
		margin: 0 auto;
	}
	.purpose_title h2{
		font-size: 2rem;
	}
	.purpose_title p{
		font-size: 0.675rem;
		margin: 20px 40% 40px;
		padding-bottom: 20px;
	}
	.purpose_list{
		flex-direction: column;
	}
	.sankaku{
		display: none;
	  }
	.purpose_list li{
		width: 100%;
		margin: 0 auto 20px;
	}
	.purpose_list li p{
		font-size: 0.657rem;
		margin-bottom: 5px;
	}
	.purpose_list li::before{
		top: -3%;
		left: 32%;
	}
	.purpose_list img:hover{
		display: none;
	}
}

@media screen and (max-width: 600px){
	.purpose_list li::before{
		left: 26%;
}
}
@media screen and (max-width: 480px){
	.purpose_list li::before{
		left: 22%;
	}
}
/**********************************
*TYPEゾーン
**********************************/
.type_title h2{
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	margin: 0 auto;
}
.type_title h2 span{
	color: #1F9BD3;
	font-size: 3rem;
}
.type_title p{
	font-size: 0.812rem;
	margin: 10px 46% 50px;
	padding-bottom: 40px;
	border-bottom: solid #5fb1de 2px;
	text-align: center;
}

.type_dis{
	font-size: 1rem;
	margin-bottom: 60px;
	text-align: center;
}

.type_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
}
.sankaku{
	position: absolute;
	width: 0;
	height: 0;
	border-top: 73px solid #5fb1de;
	border-right: 138px solid transparent;
	border-bottom: 174px solid transparent;
	border-left: 248px solid #5fb1de;
	top: -50px;
	left: -40px;
	opacity: .1;
	z-index: -1;
}
.type_list li{
	display: flex;
	margin: 0 auto;
	border-radius: 10px;
}
.type_list h4{
	transform: translateY(-500%) translateX(-0%);
	/* max-width: 1130px; */
	color: #5fb1de;
	text-align: center;
	z-index: 9997;
	font-size: 1rem;
}
.type_list li i{
	transform: translateY(-330%) translateX(420%);
	/* max-width: 1130px; */
	color: #5fb1de;
	/* text-align: center; */
	/* z-index: 9996; */
	font-size: 2rem;
	/* padding-bottom: 5px; */
}
.type_list img:hover{
	border-radius: 50%;
	color: white;
}
.type_list a{
	width: auto;
	height: 22vh;
	margin-bottom: 60px;
	padding: 0;
}

@media screen and (max-width: 768px) {
	#type_list{
		width: 95%;
		margin: 0 auto;
	}
	.type_title h2{
		font-size: 2rem;
		margin-top: 80px;
	}
	.type_title p{
		font-size: 0.675rem;
		margin: 20px 40% 30px;
		padding-bottom: 20px;
	}
	.type_dis{
		width: 95%;
		font-size: .75rem;
		margin: 0 auto 40px;
	}
	.type_list{
		flex-direction: column;
	}
	.type_list li {
		display: flex;
		margin: 10px auto;
		border-radius: 10px;
	}
	.type_list img{
		border: solid 1px #5fb1de;
		border-radius: 10px;
	}
	.type_list h4{
		font-size: .875rem;
	}
	.type_list li i{
		transform: translateY(-330%) translateX(460%);
		font-size: 1.75rem;
	}
	.type_list img:hover{
		display: none;
	}
	.type_list a{
		height: 250px;
		margin: 0px;
	}
	.sankaku{
		display: none;
	}
}

/**********************************
*Q&Aゾーン
**********************************/
.qa_title h2{
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	margin: 0 auto;
}
.qa_title h2 span{
	color: #1F9BD3;
	font-size: 1.5rem;
}
.qa_title p{
	font-size: 0.812rem;
	margin: 20px 46% 50px;
	padding-bottom: 40px;
	border-bottom: solid #5fb1de 2px;
	text-align: center;
}

.sankaku_03{
	position: relative;
}
.sankaku_03{
	position: absolute;
	width: 0;
	height: 0;
	border-top: 100px solid #5fb1de;
	border-right: 138px solid transparent;
	border-bottom: 174px solid transparent;
	border-left: 248px solid #5fb1de;
	/* bottom: -230px; */
	left: -60px;
	opacity: .1;
	z-index: 0;
}
.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa .cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding-top: 40px;
	color: #1b2538;
}
.cp_qa .cp_actab input {
	position: absolute;
	opacity: 0;
}
/* 質問 */
.cp_qa .cp_actab label {
	font-weight: bold;
	line-height: 1.6em;
	position: relative;
	display: block;
	margin: 0.5em 0;
	padding: 1.5em 2.5em 1.5em 3em;
	cursor: pointer;
	text-indent: 1em;
	border-radius: 0.5em;
	background: #fff;
}
.cp_qa .cp_actab label::before {
	font-family: serif;
	font-size: 2em;
	margin-left: -1em;
	padding-right: 0.5em;
	color: #5fb1de;
	content: 'Q';
}
.cp_qa .cp_actab label:hover {
	transition: all 0.3s;
	color: #5fb1de;
}
/* --質問の＋アイコン */
.cp_qa .cp_actab label::after {
	font-size: 1.7em;
	font-weight: bold;
	line-height: 3em;
	position: absolute;
	top: 0;
	right: 0;
	content: '+';
	display: inline-block;
	width: 2em;
	height: 2em;
	-webkit-transition: transform 0.4s;
	        transition: transform 0.4s;
}
/* 答え */
.cp_qa .cp_actab .cp_actab-content {
	position: relative;
	overflow: hidden;
	max-height: 0;
	padding: 0 0 0 2.5em;
	-webkit-transition: max-height 0.2s;
	        transition: max-height 0.2s;
	border-radius: 0 0 0.5em 0.5em;
	background-color: #f1f0f0;
	border-color: #5fb1de;
}
.cp_qa .cp_actab .cp_actab-content::before {
	font-family: serif;
	font-size: 1.5em;
	position: absolute;
	margin: 0.4em 0 0 -1em;
	padding: 0;
	content: 'A';
}
.cp_qa .cp_actab .cp_actab-content p {
	margin: 1em 1em 1em 0;
}
/* 質問を開いた時の仕様 */
/* --答えの高さ */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
	max-height: 40em;
	border: 10px solid rgba(27,37,56,0.1);
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa .cp_actab input:checked ~ label {
	color: #00838f;
	border-radius: 0.5em 0.5em 0 0;
}
/* 質問をクリックした時の+の動き */
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

/* ボタン */
.qa_button{
	width: 280px;
	height: 70px;
	text-align: center;
	font-size: 1.687rem;
	background-color: #209ddb;
	color: #fff;
	padding: 16px 0;
	/* border: solid 1px #0072e4; */
	margin: 100px auto 280px;
	box-shadow: 2px 2px 4px #a8a8a8;
	/* outline: 2px solid rgb(255, 255, 255);
	outline-offset: -8px;
	border-radius: 10px; */
}
.qa_button i{
	padding-left: 40px;
}

.qa_button:hover {
	background-color: #fff;
	color: #5fb1de;
	outline: 2px solid rgb(27, 157, 233);
	outline-offset: -8px;
}

@media screen and (max-width: 768px) {

	#qa{
		width: 95%;
		margin: 0 auto;
	}
	.qa_title h2{
		font-size: 2rem;
		margin: 0 auto;
	}
	.qa_title p{
		font-size: 0.675rem;
		margin: 20px 40% 10px;
		padding-bottom: 20px;
	}
	
	.sankaku_03{
		position: none;
	}
	.sankaku_03{
		display: none;
		/* position: absolute;
		width: 0;
		height: 0;
		border-top: 100px solid #5fb1de;
		border-right: 138px solid transparent;
		border-bottom: 174px solid transparent;
		border-left: 248px solid #5fb1de;
		left: -60px;
		opacity: .1;
		z-index: 0; */
	}
	.cp_qa *, .cp_qa *:after, .cp_qa *:before {
		-webkit-box-sizing: border-box;
			  box-sizing: border-box;
	}
	.cp_qa .cp_actab {
		padding-top: 20px;
	}
	.cp_qa .cp_actab input {
		position: absolute;
		opacity: 0;
	}
	/* 質問 */
	.cp_qa .cp_actab label {
		font-size: .75rem;
		font-weight: 600;
		line-height: 1.2em;
		margin: 0.1em 0;
		padding: 1.2em 2.2em 1.2em 2.8em;
		text-indent: .8em;
	}
	.cp_qa .cp_actab label::before {
		font-size: 1.2em;
		font-weight: bold;
		margin-left: -2.6em;
		padding-right: 0.5em;
	}
	.cp_qa .cp_actab label:hover {
		transition: all 0.3s;
		color: #5fb1de;
	}
	/* --質問の＋アイコン */
	.cp_qa .cp_actab label::after {
		font-size: 1.2em;
		line-height: 3em;
	}
	/* 答え */
	/* .cp_qa .cp_actab .cp_actab-content {
		position: relative;
		overflow: hidden;
		max-height: 0;
		padding: 0 0 0 2.5em;
		-webkit-transition: max-height 0.2s;
			  transition: max-height 0.2s;
		border-radius: 0 0 0.5em 0.5em;
		background-color: #f1f0f0;
		border-color: #5fb1de;
	} */
	.cp_qa .cp_actab .cp_actab-content::before {
		font-size: 1em;
		margin: 0.5em 0 0 -1.2em;
	}
	.cp_qa .cp_actab .cp_actab-content p {
		font-size: .75rem;
	}
	/* 質問を開いた時の仕様 */
	/* --答えの高さ */
	.cp_qa .cp_actab input:checked ~ .cp_actab-content {
		max-height: 40em;
		border: 10px solid rgba(27,37,56,0.1);
	}
	/* 質問をクリックした時のアイコンの動き */
	.cp_qa .cp_actab input:checked ~ label {
		color: #00838f;
		border-radius: 0.5em 0.5em 0 0;
	}
	/* 質問をクリックした時の+の動き */
	.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	
	/* ボタン */
	.qa_button{
		width: 200px;
		height: 60px;
		font-size: 1.5rem;
		padding: 14px 0;
		margin: 60px auto 160px;
		box-shadow: 1px 1px 3px #000;
	}
	.qa_button i{
		padding-left: 40px;
	}
	
	.qa_button:hover {
		display: none;
	}
	
}
/**********************************
*フッターゾーン
**********************************/
footer{
	font-family: 'NotoSerifCJKjp';
}
.foot_wrap .menu_left, .menu_right {
	display: inline-table;
	width: 30%;

}
.menu_left {
	margin-top: 30px;
	border-right: solid 1px #a8a8a8;
}
.foot_wrap ul {
	padding: 0;
	line-height:1;
}
.foot_wrap {
	height: 190px;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.foot_wrap h6 {
	width: 54%;
	text-align: center;
	font-size: 1.125rem;
	border-bottom: 1px solid #5fb1de;
	margin: 0 auto 10px;
}
.foot_left p{
	margin-right: 40px;
}
.foot_left span{
	font-size: 2.5rem;
	font-family: a-otf-ud-shin-go-pr6n, sans-serif;
	font-style: normal;
	font-weight: bold;
	background-color: #ebbbe8;
	padding: 0 5px;
}
.foot_left i{
	font-size: 3rem;
	padding-right: 6px;
}
.foot_left li{
	padding-top: 20px;
}

.foot_right a{
	background-color: #5fb1de;
	vertical-align: text-bottom;
	padding: 12px 40px;
	font-weight: bold;
	box-shadow: 3px 3px 5px #a8a8a8;
	color: #fff;
}
.foot_right a:hover{
	background-color: #fff;
	color: #5fb1de;
	outline: 2px solid rgb(27, 157, 233);
	outline-offset: -8px;
}
.foot_right i{
	padding-right: 8px;
}
.foot_right li{
	font-size: 1.562rem;
}
.foot_right{
	margin-top: 20px;
}

.nav_last{
	height: 262px;
	display: flex;
	justify-content: center;
	align-items: end;
	background-color: #1F9BD3;
	color: #fff;
	margin: 0 auto;
	border-collapse: collapse;
}
.nav_last li{
	font-size: 0.675rem;
	text-align: center;
	border-right: solid 1px #fff;
	margin: 0 0 20px;
	padding: 0 20px;
}
.nav_last li:last-of-type{
	border-right: none;
}
.nav_last a{
	color: #fff;
}
.nav_last li a:hover{
	color: #a8a8a8;
}
.cmark {
	display: block;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	color: gray;
  }

  @media screen and (max-width:768px) {
	.foot_wrap .menu_left, .menu_right {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 80%;
		margin: 20px auto;
	
	}
	.menu_left {
		padding: 30px 0;
		border-right: none;
		border-bottom: solid 1px #a8a8a8;
	}
	.menu_right{
		display: block;
		margin: 40px auto;
	}
	.foot_wrap ul {
		padding: 0;
		line-height:1;
	}
	.foot_wrap {
		height: 300px;
		background-color: #333;
		color: #fff;
		text-align: center;
	}
	.foot_wrap h6 {
		width: 55%;
		text-align: center;
		font-size: .675rem;
		border-bottom: 1px solid #5fb1de;
		margin: 0 auto 20px;
	}
	.foot_left p{
		margin-right: 30px;
	}
	.foot_left span{
		font-size: 1.5rem;
		
	}
	.foot_left i{
		font-size: 1.8rem;
		vertical-align: middle;
		padding-right: 8px;
	}
	.foot_left li{
		font-size: .657rem;
		padding-top: 10px;
	}
	
	.foot_right a{
		padding: 10px 30px;
		box-shadow: none;
	}
	.foot_right a:hover{
		display: none;
	}
	.foot_right li{
		font-size: .875rem;
	}

	.nav_last{
		display: block;
		padding-top: 10px;
	}
	.nav_last li{
		font-size: .65rem;
		border-right: none;
		margin: 0 0 20px;
		padding: 0;
	}
	.nav_last li:last-of-type{
		border-right: none;
	}
	.nav_last li a:hover{
		display: none;
	}
	.cmark {
		font-size:x-small;
	  }
  }